header {
    text-align: center;
    background-color: rgb(255, 0, 0);

    
}
    main{
        
        background-image: url("infinite\ tsukuyumi.jpg" );
        background-position: center;
          }

    
     .row::after {
        clear: both;
     }
     
footer{
    background-color: #ff0000;
    text-align: center;
}
    


